<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title><strong>GOVID19</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar color="danger">
      <ion-title><strong>GOVID19</strong></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <form #form_userprofile="ngForm" (ngSubmit)="component.form_userprofile.on_submit(form_userprofile);">
      <ion-card>
        <ion-item lines="full">
          <ion-icon name="person-circle-outline" color="danger"></ion-icon>&nbsp;
          <ion-text color="danger"><strong>BASIC DETAIL</strong></ion-text>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Name :</ion-label>
          <ion-input type="text" name="UserName" [(ngModel)]="component.form_userprofile.model.UserName"
            #UserName="ngModel" clearInput></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Date Of Birth :</ion-label>
          <ion-datetime name="DateofBirth" [(ngModel)]="component.form_userprofile.model.DateofBirth"
            #DateofBirth="ngModel" pickerFormat="DD-MM-YYYY" displayFormat="DD-MM-YYYY" min="1900" max="2020">
          </ion-datetime>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="stacked">Address :</ion-label>
          <ion-textarea name="Address" [(ngModel)]="component.form_userprofile.model.Address" #Address="ngModel"
            clearOnEdit="true"></ion-textarea>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="stacked">Pincode :</ion-label>
          <ion-input type="number" name="Pincode" [(ngModel)]="component.form_userprofile.model.Pincode"
            #Pincode="ngModel" clearInput></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button type="button" expand="full" size="default" color="primary"
              [disabled]="component.form_userprofile.is_processing"
              (click)="component.form_userprofile.on_click_logout();">
              Logout
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button type="submit" expand="full" size="default" color="danger"
              [disabled]="component.form_userprofile.is_processing">
              Update
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </form>
    <!-- <ion-item></ion-item> -->
  </ion-grid>
</ion-content>