<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="visit" layout="icon-start">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label><strong>Add Detail</strong></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="visit" layout="icon-start">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label><strong>All Details</strong></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="userprofile" layout="icon-start">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label><strong>User Profile</strong></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>