<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title><strong>GOVID19</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar color="danger">
      <ion-title><strong>GOVID19</strong></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <div [hidden]="!((component.form_visit_add.is_visible === true))">
      <form #form_visit_add="ngForm" (ngSubmit)="component.form_visit_add.on_submit(form_visit_add);">
        <ion-card>
          <ion-item lines="full">
            <ion-icon name="duplicate-outline" color="danger"></ion-icon>&nbsp;
            <ion-text color="danger"><strong>ADD VISIT</strong></ion-text>
            <ion-button color="danger" slot="end" (click)="component.form_visit_add.on_click_change_view();">Visit List
            </ion-button>
          </ion-item>
          <!-- <ion-card-content> -->
          <ion-item lines="full">
            <ion-label position="stacked">Full Name : </ion-label>
            <ion-input type="text" placeholder="Full Name" name="Whom" [(ngModel)]="component.form_visit_add.model.Whom"
              #Whom="ngModel" clearInput></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="stacked">Contact :</ion-label>
            <ion-input type="number" placeholder="Contact" name="Contact"
              [(ngModel)]="component.form_visit_add.model.Contact" #Contact="ngModel" clearInput></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="stacked">Purpose : </ion-label>
            <ion-textarea placeholder="Purpose" name="Purpose" [(ngModel)]="component.form_visit_add.model.Purpose"
              #Purpose="ngModel" clearOnEdit="true"></ion-textarea>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="stacked">Place : </ion-label>
            <ion-textarea placeholder="Place" name="Place" [(ngModel)]="component.form_visit_add.model.Place"
              #Place="ngModel" clearOnEdit="true"></ion-textarea>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="stacked">Visit Date : </ion-label>
            <ion-datetime
              placeholder="Visit Date"
              name="VisitDatetime"
              [(ngModel)]="component.form_visit_add.model.VisitDatetime"
              #VisitDatetime="ngModel"
              pickerFormat="DD-MM-YYYY"
              displayFormat="DD-MM-YYYY"
              min="1900" max="2020">
            </ion-datetime>
          </ion-item>
          <br />
          <ion-button type="submit" expand="full" size="default" color="danger"
            [disabled]="component.form_visit_add.is_processing">
            Save Visit
          </ion-button>
        </ion-card>
      </form>
      <!-- <ion-item></ion-item> -->
    </div>

    <div *ngIf="(component.form_visit_list.is_processing === true)">
      <ion-card>
        <ion-item lines="full">
          <ion-text><strong>Loading Data</strong></ion-text>&nbsp;
          <ion-icon class="icon_refresh" name="refresh-outline"></ion-icon>
        </ion-item>
      </ion-card>
    </div>

    <div
      [hidden]="!((component.form_visit_add.is_visible === false) && (component.form_visit_list.is_processing === false) )">
      <ion-card>
        <ion-item lines="full">
          <ion-icon name="list-outline" color="danger"></ion-icon>&nbsp;
          <ion-text color="danger"><strong>MY VISITS</strong></ion-text>
          <ion-button slot="end" color="danger" (click)="component.form_visit_add.on_click_change_view();">Add Visit
          </ion-button>
        </ion-item>

        <div id="div_visitlist_calender">
          <ion-item lines="full">
            <ion-text color="danger">{{component.form_visit_list.model.visitDate | date: 'dd-MM-yyyy'}}</ion-text>
            <ion-button slot="end" color="danger" (click)="VisitListDate.open();">
              <ion-datetime
                name="visitDate"
                [(ngModel)]="component.form_visit_list.model.visitDate"
                #visitDate="ngModel"
                #VisitListDate
                [hidden]="true"
                pickerFormat="DD-MM-YYYY"
                displayFormat="DD-MM-YYYY"
                min="1900" max="2020"
                (ionChange)="component.form_visit_list.on_change_visitdate();">
              </ion-datetime>
              <ion-icon slot="icon-only" name="calendar-sharp"></ion-icon>
            </ion-button>
          </ion-item>
        </div>

        <ion-item lines="full" *ngIf="component.list_visit.list.data.length === 0">
          <h6 style="width: 100%; text-align: center;">
            No historical visit found
            <br /><br />Click on "ADD VISIT" button to add new visit
          </h6>
        </ion-item>

        <ion-list *ngIf="component.list_visit.list.data.length > 0">
          <ion-item lines="full" *ngFor="let visit of component.list_visit.list.data">
            <ion-label>
              <h2>
                <ion-icon name="people-outline" color="danger"></ion-icon>&nbsp;{{(visit.Whom)}}
              </h2>
              <h3 style="padding-left: 20px;">{{(visit.Contact)}}</h3>
              <p style="padding-left: 20px; white-space: break-spaces;">{{(visit.Purpose)}}</p>
              <p style="padding-left: 20px; white-space: break-spaces;">{{(visit.Place)}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>
