<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title><strong>GOVID19</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar color="danger">
      <ion-title><strong>GOVID19</strong></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <form #form_visit_add="ngForm" (ngSubmit)="component.form_visit_add.on_submit(form_visit_add);">
      <ion-card>
        <ion-item lines="full">
          <ion-icon name="duplicate-outline" color="danger"></ion-icon>&nbsp;
          <ion-text color="danger"><strong>જનરલ માહિતી</strong></ion-text>
        </ion-item>

        <ion-item lines="none">
          <!-- <ion-label position="stacked">Full Name:</ion-label> -->
          <ion-label position="stacked"><strong class="f-20">નામ :</strong></ion-label>
          <ion-input type="text" clearInput placeholder="Full Name" name="Name"
            [(ngModel)]="component.form_visit_add.model.Name" #Name="ngModel">
          </ion-input>

          <ng-container
            *ngIf="component.form_visit_add.model_error.Name && component.form_visit_add.model_error.Name.errors && component.form_visit_add.model_error.Name.errors.length">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.Name.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ng-container>
        </ion-item>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <!-- <ion-label position="stacked">Contact:</ion-label> -->
          <ion-label position="stacked"><strong class="f-20">મોબાઇલ નં. :</strong></ion-label>
          <ion-input type="number" clearInput placeholder="Contact" name="ContactNumber"
            [(ngModel)]="component.form_visit_add.model.ContactNumber" #ContactNumber="ngModel">
          </ion-input>

          <ng-container
            *ngIf="component.form_visit_add.model_error.ContactNumber && component.form_visit_add.model_error.ContactNumber.errors">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.ContactNumber.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ng-container>
        </ion-item>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <!-- <ion-label position="stacked">Age:</ion-label> -->
          <ion-label position="stacked"><strong class="f-20">ઉંમર :</strong></ion-label>
          <ion-input type="number" clearInput name="Age" placeholder="Age"
            [(ngModel)]="component.form_visit_add.model.Age" #Age="ngModel">
          </ion-input>

          <ng-container
            *ngIf="component.form_visit_add.model_error.Age && component.form_visit_add.model_error.Age.errors && component.form_visit_add.model_error.Age.errors.length">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.Age.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ng-container>
        </ion-item>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <ion-label position="stacked" style="margin-bottom: 1px !important;">
            <strong class="f-20">જાતિ : </strong>
          </ion-label>
          <ion-radio-group name="Gender" [(ngModel)]="component.form_visit_add.model.Gender" #Gender="ngModel">
            <ion-row>
              <ion-col size-md="6">
                <ion-item lines="none">
                  <ion-label>Male</ion-label>
                  <ion-radio slot="start" color="danger" [value]="1"></ion-radio>
                </ion-item>
              </ion-col>

              <ion-col size-md="6">
                <ion-item lines="none">
                  <ion-label>Female</ion-label>
                  <ion-radio slot="start" color="danger" [value]="2"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ng-container
            *ngIf="component.form_visit_add.model_error.Gender && component.form_visit_add.model_error.Gender.errors && component.form_visit_add.model_error.Gender.errors.length">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.Gender.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ng-container>
        </ion-item>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <ion-label position="stacked">
            <strong class="f-20">એડ્રેસ :</strong></ion-label>
          <ion-textarea name="Addresss" placeholder="Address" [(ngModel)]="component.form_visit_add.model.Addresss"
            #Addresss="ngModel"></ion-textarea>

          <ng-container
            *ngIf="component.form_visit_add.model_error.Addresss && component.form_visit_add.model_error.Addresss.errors && component.form_visit_add.model_error.Addresss.errors.length">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.Addresss.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ng-container>
        </ion-item>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <ion-label position="stacked">
            <strong class="f-20">પીન કોડ : </strong></ion-label>
          <ion-input type="number" clearInput placeholder="Pin code" name="Pincode"
            [(ngModel)]="component.form_visit_add.model.Pincode" #Pincode="ngModel">
          </ion-input>

          <ng-container
            *ngIf="component.form_visit_add.model_error.Pincode && component.form_visit_add.model_error.Pincode.errors && component.form_visit_add.model_error.Pincode.errors.length">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.Pincode.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ng-container>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item lines="full">
          <ion-icon name="duplicate-outline" color="danger"></ion-icon>&nbsp;
          <ion-text color="danger"><strong>પુર્વ બીમારી અંગે નું વર્ણન</strong></ion-text>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">
            <strong class="f-20">ડાયાબિટીસ :</strong></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio-group name="haveDiabetes" [(ngModel)]="component.form_visit_add.model.haveDiabetes"
            #haveDiabetes="ngModel">
            <ion-row>
              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" color="danger" [value]="true">
                  </ion-radio>
                </ion-item>
              </ion-col>

              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" color="danger" [value]="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-input type="number" clearInput placeholder="Days" name="daysDiabetes"
            [(ngModel)]="component.form_visit_add.model.daysDiabetes" #daysDiabetes="ngModel">
          </ion-input>

        </ion-item>
        <ng-container
          *ngIf="component.form_visit_add.model_error.haveDiabetes && component.form_visit_add.model_error.haveDiabetes.errors && component.form_visit_add.model_error.haveDiabetes.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.haveDiabetes.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <ng-container
          *ngIf="component.form_visit_add.model_error.daysDiabetes && component.form_visit_add.model_error.daysDiabetes.errors && component.form_visit_add.model_error.daysDiabetes.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.daysDiabetes.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <ion-label position="stacked">
            <strong class="f-20">B.P.:</strong></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio-group name="haveBP" [(ngModel)]="component.form_visit_add.model.haveBP" #haveBP="ngModel">
            <ion-row>
              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" color="danger" [value]="true"></ion-radio>
                </ion-item>
              </ion-col>

              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" color="danger" [value]="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-input type="number" clearInput placeholder="Days" name="daysBP"
            [(ngModel)]="component.form_visit_add.model.daysBP" #daysBP="ngModel">
          </ion-input>
        </ion-item>
        <ng-container
          *ngIf="component.form_visit_add.model_error.haveBP && component.form_visit_add.model_error.haveBP.errors && component.form_visit_add.model_error.haveBP.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.haveBP.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <ng-container
          *ngIf="component.form_visit_add.model_error.daysBP && component.form_visit_add.model_error.daysBP.errors && component.form_visit_add.model_error.daysBP.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.daysBP.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <ion-label position="stacked"><strong class="f-20">હૃદય રોગ સંબંધિત તકલીફ :</strong></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio-group name="haveHeartProblem" [(ngModel)]="component.form_visit_add.model.haveHeartProblem"
            #haveHeartProblem="ngModel">
            <ion-row>
              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" color="danger" [value]="true"></ion-radio>
                </ion-item>
              </ion-col>

              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" color="danger" [value]="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-input type="number" clearInput placeholder="Days" name="daysHeartProblem"
            [(ngModel)]="component.form_visit_add.model.daysHeartProblem" #daysHeartProblem="ngModel">
          </ion-input>
        </ion-item>
        <ng-container
          *ngIf="component.form_visit_add.model_error.haveHeartProblem && component.form_visit_add.model_error.haveHeartProblem.errors && component.form_visit_add.model_error.haveHeartProblem.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.haveHeartProblem.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <ng-container
          *ngIf="component.form_visit_add.model_error.daysHeartProblem && component.form_visit_add.model_error.daysHeartProblem.errors && component.form_visit_add.model_error.daysHeartProblem.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.daysHeartProblem.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <ion-label position="stacked">
            <strong class="f-20">ફેફસા સંબંધિત તકલીફ :</strong></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio-group name="haveLungsProblem" [(ngModel)]="component.form_visit_add.model.haveLungsProblem"
            #haveLungsProblem="ngModel">
            <ion-row>
              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" color="danger" [value]="true"></ion-radio>
                </ion-item>
              </ion-col>

              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" color="danger" [value]="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-input type="number" clearInput placeholder="Days" name="daysLungsProblem"
            [(ngModel)]="component.form_visit_add.model.daysLungsProblem" #daysLungsProblem="ngModel">
          </ion-input>
        </ion-item>
        <ng-container
          *ngIf="component.form_visit_add.model_error.haveLungsProblem && component.form_visit_add.model_error.haveLungsProblem.errors && component.form_visit_add.model_error.haveLungsProblem.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.haveLungsProblem.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <ng-container
          *ngIf="component.form_visit_add.model_error.daysLungsProblem && component.form_visit_add.model_error.daysLungsProblem.errors && component.form_visit_add.model_error.daysLungsProblem.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.daysLungsProblem.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <ion-label position="stacked">
            <strong class="f-20">કિડની સંબંધિત તકલીફ :</strong></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio-group name="haveKidenyProblem" [(ngModel)]="component.form_visit_add.model.haveKidenyProblem"
            #haveKidenyProblem="ngModel">
            <ion-row>
              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" color="danger" [value]="true"></ion-radio>
                </ion-item>
              </ion-col>

              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" color="danger" [value]="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-input type="number" clearInput placeholder="Days" name="daysKidenyProblem"
            [(ngModel)]="component.form_visit_add.model.daysKidenyProblem" #daysKidenyProblem="ngModel">
          </ion-input>
        </ion-item>
        <ng-container
          *ngIf="component.form_visit_add.model_error.haveKidenyProblem && component.form_visit_add.model_error.haveKidenyProblem.errors && component.form_visit_add.model_error.haveKidenyProblem.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.haveKidenyProblem.errors"
              color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <ng-container
          *ngIf="component.form_visit_add.model_error.daysKidenyProblem && component.form_visit_add.model_error.daysKidenyProblem.errors && component.form_visit_add.model_error.daysKidenyProblem.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.daysKidenyProblem.errors"
              color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
      </ion-card>

      <ion-card>
        <ion-item lines="full">
          <ion-icon name="duplicate-outline" color="danger"></ion-icon>&nbsp;
          <ion-text color="danger"><strong>આજ ની તારીખે રોગ નાં લક્ષણો</strong></ion-text>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">
            <strong class="f-20">મધ્યમ થી વધુ કફ :</strong></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio-group name="haveCough" [(ngModel)]="component.form_visit_add.model.haveCough" #haveCough="ngModel">
            <ion-row>
              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" color="danger" [value]="true"></ion-radio>
                </ion-item>
              </ion-col>

              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" color="danger" [value]="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-input type="number" clearInput placeholder="Days" name="daysCough"
            [(ngModel)]="component.form_visit_add.model.daysCough" #daysCough="ngModel">
          </ion-input>
        </ion-item>
        <ng-container
          *ngIf="component.form_visit_add.model_error.haveCough && component.form_visit_add.model_error.haveCough.errors && component.form_visit_add.model_error.haveCough.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.haveCough.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <ng-container
          *ngIf="component.form_visit_add.model_error.daysCough && component.form_visit_add.model_error.daysCough.errors && component.form_visit_add.model_error.daysCough.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.daysCough.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <ion-label position="stacked">
            <strong class="f-20">સૂકી ઉધરસ : </strong></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio-group name="haveDryCough" [(ngModel)]="component.form_visit_add.model.haveDryCough"
            #haveDryCough="ngModel">
            <ion-row>
              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" color="danger" [value]="true"></ion-radio>
                </ion-item>
              </ion-col>

              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" color="danger" [value]="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-input type="number" clearInput placeholder="Days" name="daysDryCough"
            [(ngModel)]="component.form_visit_add.model.daysDryCough" #daysDryCough="ngModel">
          </ion-input>
        </ion-item>
        <ng-container
          *ngIf="component.form_visit_add.model_error.haveDryCough && component.form_visit_add.model_error.haveDryCough.errors && component.form_visit_add.model_error.haveDryCough.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.haveDryCough.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <ng-container
          *ngIf="component.form_visit_add.model_error.daysDryCough && component.form_visit_add.model_error.daysDryCough.errors && component.form_visit_add.model_error.daysDryCough.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.daysDryCough.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <ion-label position="stacked">
            <strong class="f-20">ગળા ની ખરાશ : </strong></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio-group name="haveSoreThroat" [(ngModel)]="component.form_visit_add.model.haveSoreThroat"
            #haveSoreThroat="ngModel">
            <ion-row>
              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" color="danger" [value]="true"></ion-radio>
                </ion-item>
              </ion-col>

              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" color="danger" [value]="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-input type="number" clearInput placeholder="Days" name="daysSoreThroat"
            [(ngModel)]="component.form_visit_add.model.daysSoreThroat" #daysSoreThroat="ngModel">
          </ion-input>
        </ion-item>
        <ng-container
          *ngIf="component.form_visit_add.model_error.haveSoreThroat && component.form_visit_add.model_error.haveSoreThroat.errors && component.form_visit_add.model_error.haveSoreThroat.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.haveSoreThroat.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <ng-container
          *ngIf="component.form_visit_add.model_error.daysSoreThroat && component.form_visit_add.model_error.daysSoreThroat.errors && component.form_visit_add.model_error.daysSoreThroat.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.daysSoreThroat.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <ion-label position="stacked"><strong class="f-20">સુંઘવાની શક્તિ નબળી પડી ગઇ છે કે કેમ? :</strong>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio-group name="haveSmellProblem" [(ngModel)]="component.form_visit_add.model.haveSmellProblem"
            #haveSmellProblem="ngModel">
            <ion-row>
              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" color="danger" [value]="true"></ion-radio>
                </ion-item>
              </ion-col>

              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" color="danger" [value]="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-input type="number" clearInput placeholder="Days" name="daysSmellProblem"
            [(ngModel)]="component.form_visit_add.model.daysSmellProblem" #daysSmellProblem="ngModel">
          </ion-input>
        </ion-item>
        <ng-container
          *ngIf="component.form_visit_add.model_error.haveSmellProblem && component.form_visit_add.model_error.haveSmellProblem.errors && component.form_visit_add.model_error.haveSmellProblem.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.haveSmellProblem.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <ng-container
          *ngIf="component.form_visit_add.model_error.daysSmellProblem && component.form_visit_add.model_error.daysSmellProblem.errors && component.form_visit_add.model_error.daysSmellProblem.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.daysSmellProblem.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <ion-label position="stacked">
            <strong class="f-20">
              શ્વાસ લેવા માં તકલીફ પડે છે કે કેમ? :
            </strong></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio-group name="haveBreathProblem" [(ngModel)]="component.form_visit_add.model.haveBreathProblem"
            #haveBreathProblem="ngModel">
            <ion-row>
              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" color="danger" [value]="true"></ion-radio>
                </ion-item>
              </ion-col>

              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" color="danger" [value]="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-input type="number" clearInput placeholder="Days" name="daysBreathProblem"
            [(ngModel)]="component.form_visit_add.model.daysBreathProblem" #daysBreathProblem="ngModel">
          </ion-input>
        </ion-item>
        <ng-container
          *ngIf="component.form_visit_add.model_error.haveBreathProblem && component.form_visit_add.model_error.haveBreathProblem.errors && component.form_visit_add.model_error.haveBreathProblem.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.haveBreathProblem.errors"
              color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <ng-container
          *ngIf="component.form_visit_add.model_error.daysBreathProblem && component.form_visit_add.model_error.daysBreathProblem.errors && component.form_visit_add.model_error.daysBreathProblem.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.daysBreathProblem.errors"
              color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <ion-label position="stacked"><strong class="f-20">શારિરીક નબળાઈ : </strong></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio-group name="haveBodyPain" [(ngModel)]="component.form_visit_add.model.haveBodyPain"
            #haveBodyPain="ngModel">
            <ion-row>
              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" color="danger" [value]="true"></ion-radio>
                </ion-item>
              </ion-col>

              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" color="danger" [value]="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-input type="number" clearInput placeholder="Days" name="daysBodyPain"
            [(ngModel)]="component.form_visit_add.model.daysBodyPain" #daysBodyPain="ngModel">
          </ion-input>
        </ion-item>
        <ng-container
          *ngIf="component.form_visit_add.model_error.haveBodyPain && component.form_visit_add.model_error.haveBodyPain.errors && component.form_visit_add.model_error.haveBodyPain.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.haveBodyPain.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <ng-container
          *ngIf="component.form_visit_add.model_error.daysBodyPain && component.form_visit_add.model_error.daysBodyPain.errors && component.form_visit_add.model_error.daysBodyPain.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.daysBodyPain.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <ion-label position="stacked">
            <strong class="f-20">
              છાતી માં દુખાવો :
            </strong></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio-group name="haveChestPain" [(ngModel)]="component.form_visit_add.model.haveChestPain"
            #haveChestPain="ngModel">
            <ion-row>
              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" color="danger" [value]="true"></ion-radio>
                </ion-item>
              </ion-col>

              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" color="danger" [value]="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-input type="number" clearInput placeholder="Days" name="daysChestPain"
            [(ngModel)]="component.form_visit_add.model.daysChestPain" #daysChestPain="ngModel">
          </ion-input>
        </ion-item>
        <ng-container
          *ngIf="component.form_visit_add.model_error.haveChestPain && component.form_visit_add.model_error.haveChestPain.errors && component.form_visit_add.model_error.haveChestPain.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.haveChestPain.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <ng-container
          *ngIf="component.form_visit_add.model_error.daysChestPain && component.form_visit_add.model_error.daysChestPain.errors && component.form_visit_add.model_error.daysChestPain.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.daysChestPain.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <ion-label position="stacked">
            <strong class="f-20">ઝાડા : </strong></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio-group name="haveDiarrheoa" [(ngModel)]="component.form_visit_add.model.haveDiarrheoa"
            #haveDiarrheoa="ngModel">
            <ion-row>
              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" color="danger" [value]="true"></ion-radio>
                </ion-item>
              </ion-col>

              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" color="danger" [value]="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-input type="number" clearInput placeholder="Days" name="daysDiarrheoa"
            [(ngModel)]="component.form_visit_add.model.daysDiarrheoa" #daysDiarrheoa="ngModel">
          </ion-input>
        </ion-item>
        <ng-container
          *ngIf="component.form_visit_add.model_error.haveDiarrheoa && component.form_visit_add.model_error.haveDiarrheoa.errors && component.form_visit_add.model_error.haveDiarrheoa.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.haveDiarrheoa.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <ng-container
          *ngIf="component.form_visit_add.model_error.daysDiarrheoa && component.form_visit_add.model_error.daysDiarrheoa.errors && component.form_visit_add.model_error.daysDiarrheoa.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.daysDiarrheoa.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="none">
          <ion-label position="stacked">
            <strong class="f-20">તાવ : </strong></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio-group name="haveFever" [(ngModel)]="component.form_visit_add.model.haveFever" #haveFever="ngModel">
            <ion-row>
              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>હા</ion-label>
                  <ion-radio slot="start" color="danger" [value]="true"></ion-radio>
                </ion-item>
              </ion-col>

              <ion-col size-md="6">
                <ion-item lines="none" class="m-l-25">
                  <ion-label>ના</ion-label>
                  <ion-radio slot="start" color="danger" [value]="false"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>

          <ion-input type="number" clearInput placeholder="Days" name="daysFever"
            [(ngModel)]="component.form_visit_add.model.daysFever" #daysFever="ngModel">
          </ion-input>
        </ion-item>
        <ng-container
          *ngIf="component.form_visit_add.model_error.haveFever && component.form_visit_add.model_error.haveFever.errors && component.form_visit_add.model_error.haveFever.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.haveFever.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <ng-container
          *ngIf="component.form_visit_add.model_error.daysFever && component.form_visit_add.model_error.daysFever.errors && component.form_visit_add.model_error.daysFever.errors.length">
          <ion-item lines="none">
            <ion-text *ngFor="let error of component.form_visit_add.model_error.daysFever.errors" color="danger">
              {{ error.message }}
            </ion-text>
          </ion-item>
        </ng-container>
        <div style="background-color: #d7d8da !important; height: 1px;"></div>
        <ion-item lines="full">
          <ion-label>SOS:</ion-label>
          <ion-checkbox color="danger" name="IsSOS" [(ngModel)]="component.form_visit_add.model.IsSOS" #IsSOS="ngModel">
          </ion-checkbox>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button type="submit" expand="full" size="default" color="danger"
              [disabled]="component.form_visit_add.is_processing">Submit</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </form>
  </ion-grid>
</ion-content>