<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title><strong>GOVID19</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar color="danger">
      <ion-title><strong>GOVID19</strong></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <form #form_visit_add="ngForm" (ngSubmit)="component.form_visit_add.on_submit(form_visit_add);">
      <ion-card>
        <ion-item lines="full">
          <ion-icon name="duplicate-outline" color="danger"></ion-icon>&nbsp;
          <ion-text color="danger"><strong>BASIC DETAIL</strong></ion-text>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Full Name : </ion-label>
          <ion-input type="text" placeholder="Full Name" name="Whom" [(ngModel)]="component.form_visit_add.model.Whom"
            #Whom="ngModel" clearInput></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="stacked">Contact :</ion-label>
          <ion-input type="number" placeholder="Contact" name="Contact"
            [(ngModel)]="component.form_visit_add.model.Contact" #Contact="ngModel" clearInput></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="stacked">Address : </ion-label>
          <ion-textarea placeholder="Place" name="Place" [(ngModel)]="component.form_visit_add.model.Place"
            #Place="ngModel" clearOnEdit="true"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Pin code :</ion-label>
          <ion-input placeholder="Pin code" type="number" name="Pincode"
            [(ngModel)]="component.form_registration.model.Pincode" #Pincode="ngModel" clearInput></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item lines="full">
          <ion-icon name="duplicate-outline" color="danger"></ion-icon>&nbsp;
          <ion-text color="danger"><strong>POST ILLNESS DETAIL</strong></ion-text>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Diabetes : </ion-label>
          <ion-checkbox name="haveFeaver" [(ngModel)]="component.form_visit_add.model.Whom" #haveFeaver="ngModel"
            color="danger"></ion-checkbox>
        </ion-item>
        <ion-item lines="full">
          <ion-input type="number" placeholder="Diabetes From Days" name="Whom"
            [(ngModel)]="component.form_visit_add.model.Whom" #Whom="ngModel" clearInput></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label>B.P. : </ion-label>
          <ion-checkbox name="haveFeaver" [(ngModel)]="component.form_visit_add.model.Whom" #haveFeaver="ngModel"
            color="danger"></ion-checkbox>
        </ion-item>
        <ion-item lines="full">
          <ion-input type="number" placeholder="B.P. From Days" name="Whom"
            [(ngModel)]="component.form_visit_add.model.Whom" #Whom="ngModel" clearInput></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Heart Problem : </ion-label>
          <ion-checkbox name="haveFeaver" [(ngModel)]="component.form_visit_add.model.Whom" #haveFeaver="ngModel"
            color="danger"></ion-checkbox>
        </ion-item>
        <ion-item lines="full">
          <ion-input type="number" placeholder="H.P. From Days" name="Whom"
            [(ngModel)]="component.form_visit_add.model.Whom" #Whom="ngModel" clearInput></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Lungs Problem : </ion-label>
          <ion-checkbox name="haveFeaver" [(ngModel)]="component.form_visit_add.model.Whom" #haveFeaver="ngModel"
            color="danger"></ion-checkbox>
        </ion-item>
        <ion-item lines="full">
          <ion-input type="number" placeholder="L.P. From Days" name="Whom"
            [(ngModel)]="component.form_visit_add.model.Whom" #Whom="ngModel" clearInput></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Kideny Related Problem : </ion-label>
          <ion-checkbox name="haveFeaver" [(ngModel)]="component.form_visit_add.model.Whom" #haveFeaver="ngModel"
            color="danger"></ion-checkbox>
        </ion-item>
        <ion-item lines="full">
          <ion-input type="number" placeholder="K.P. From Days" name="Whom"
            [(ngModel)]="component.form_visit_add.model.Whom" #Whom="ngModel" clearInput></ion-input>
        </ion-item>
        <ion-item></ion-item>
      </ion-card>

      <ion-card>
        <ion-item lines="full">
          <ion-icon name="duplicate-outline" color="danger"></ion-icon>&nbsp;
          <ion-text color="danger"><strong>SYMPTOMS ON TODAY</strong></ion-text>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Medium To High Cough : </ion-label>
          <ion-checkbox name="haveFeaver" [(ngModel)]="component.form_visit_add.model.Whom" #haveFeaver="ngModel"
            color="danger"></ion-checkbox>
        </ion-item>
        <ion-item lines="full">
          <ion-input type="number" placeholder="Medium To High Cough From Days" name="Whom"
            [(ngModel)]="component.form_visit_add.model.Whom" #Whom="ngModel" clearInput></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Dry Cough : </ion-label>
          <ion-checkbox name="haveFeaver" [(ngModel)]="component.form_visit_add.model.Whom" #haveFeaver="ngModel"
            color="danger"></ion-checkbox>
        </ion-item>
        <ion-item lines="full">
          <ion-input type="number" placeholder="Dry Cough From Days" name="Whom"
            [(ngModel)]="component.form_visit_add.model.Whom" #Whom="ngModel" clearInput></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Sore Throat : </ion-label>
          <ion-checkbox name="haveFeaver" [(ngModel)]="component.form_visit_add.model.Whom" #haveFeaver="ngModel"
            color="danger"></ion-checkbox>
        </ion-item>
        <ion-item lines="full">
          <ion-input type="number" placeholder="Sore Throat From Days" name="Whom"
            [(ngModel)]="component.form_visit_add.model.Whom" #Whom="ngModel" clearInput></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Problem In Smell : </ion-label>
          <ion-checkbox name="haveFeaver" [(ngModel)]="component.form_visit_add.model.Whom" #haveFeaver="ngModel"
            color="danger"></ion-checkbox>
        </ion-item>
        <ion-item lines="full">
          <ion-input type="number" placeholder="Smell Problem From Days" name="Whom"
            [(ngModel)]="component.form_visit_add.model.Whom" #Whom="ngModel" clearInput></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Problem In Breathing : </ion-label>
          <ion-checkbox name="haveFeaver" [(ngModel)]="component.form_visit_add.model.Whom" #haveFeaver="ngModel"
            color="danger"></ion-checkbox>
        </ion-item>
        <ion-item lines="full">
          <ion-input type="number" placeholder="Breathing Problem From Days" name="Whom"
            [(ngModel)]="component.form_visit_add.model.Whom" #Whom="ngModel" clearInput></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Body Pain : </ion-label>
          <ion-checkbox name="haveFeaver" [(ngModel)]="component.form_visit_add.model.Whom" #haveFeaver="ngModel"
            color="danger"></ion-checkbox>
        </ion-item>
        <ion-item lines="full">
          <ion-input type="number" placeholder="Body Pain From Days" name="Whom"
            [(ngModel)]="component.form_visit_add.model.Whom" #Whom="ngModel" clearInput></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Chest Pain : </ion-label>
          <ion-checkbox name="haveFeaver" [(ngModel)]="component.form_visit_add.model.Whom" #haveFeaver="ngModel"
            color="danger"></ion-checkbox>
        </ion-item>
        <ion-item lines="full">
          <ion-input type="number" placeholder="Chest Pain From Days" name="Whom"
            [(ngModel)]="component.form_visit_add.model.Whom" #Whom="ngModel" clearInput></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Diarrhoea : </ion-label>
          <ion-checkbox name="haveFeaver" [(ngModel)]="component.form_visit_add.model.Whom" #haveFeaver="ngModel"
            color="danger"></ion-checkbox>
        </ion-item>
        <ion-item lines="full">
          <ion-input type="number" placeholder="Diarrhoea From Days" name="Whom"
            [(ngModel)]="component.form_visit_add.model.Whom" #Whom="ngModel" clearInput></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label>Fever : </ion-label>
          <ion-checkbox name="haveFeaver" [(ngModel)]="component.form_visit_add.model.Whom" #haveFeaver="ngModel"
            color="danger"></ion-checkbox>
        </ion-item>
        <ion-item lines="full">
          <ion-input type="number" placeholder="Fever From Days" name="Whom"
            [(ngModel)]="component.form_visit_add.model.Whom" #Whom="ngModel" clearInput></ion-input>
        </ion-item>
        <ion-item></ion-item>
      </ion-card>
    </form>
  </ion-grid>
</ion-content>