.background{
  --background : #433737 !important;
}

.icon_refresh {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.f-20{
  font-size: 20px !important;
}

ion-radio{
  margin:10px !important;
}

.m-l-25 {
  margin-left: -25px !important;
}
