<ion-header [translucent]="true">
    <ion-toolbar color="danger">
        <ion-title><strong>GOVID19</strong></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

    <ion-header collapse="condense">
        <ion-toolbar color="danger">
            <ion-title><strong>GOVID19</strong></ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-item lines="full" button>
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
            <ion-label>
                <h3>My Profile</h3>
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-circle-outline"></ion-icon>
        </ion-item>
        <ion-item lines="full" button>
            <ion-icon slot="start" name="git-compare-outline"></ion-icon>
            <ion-label>
                <h3>Change Password</h3>
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-circle-outline"></ion-icon>
        </ion-item>
        <ion-item lines="full" button>
            <ion-icon slot="start" name="finger-print-outline"></ion-icon>
            <ion-label>
                <h3>Privacy Policy</h3>
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-circle-outline"></ion-icon>
        </ion-item>
        <ion-item lines="full" button>
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>
                <h3>SignOut</h3>
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-circle-outline"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>