<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <form #form_registration="ngForm" (ngSubmit)="component.form_registration.on_submit(form_registration);">
      <div id="form_registration_step_number_1" *ngIf="component.form_registration.step_number === 1">
        <ion-card>
          <ion-item lines="full">
            <ion-icon name="calculator-outline" color="danger"></ion-icon>
            &nbsp;<ion-text color="danger"><strong>GET OTP</strong></ion-text>
          </ion-item>
          <ion-card-content>
            <ion-text color="medium" style="font-size: 10px !important;">
              We required to verify your mobile number , for your unique identity.
              <br />
              For this please enter your mobile number below we will send OTP on it.This will be used for your
              username for next time login.
            </ion-text>
          </ion-card-content>
          <ion-item lines="full">
            <ion-label position="stacked">Enter Mobile Number :</ion-label>
            <ion-input placeholder="Enter Mobile Number" type="number" name="MobileNumber"
              [(ngModel)]="component.form_registration.model.MobileNumber" #MobileNumber="ngModel" clearInput>
            </ion-input>
          </ion-item>
          <br />
          <ion-button type="button" (click)="component.form_registration.on_click_next();" expand="full" size="default"
            color="danger" [disabled]="component.form_registration.is_processing">
            Get OTP
          </ion-button>
          <ion-row style="display:flex;">
            <ion-label style="margin: auto;">already registered ?</ion-label>
          </ion-row>
          <ion-button type="button" expand="full" size="default" color="primary" routerLink="/login"
            [disabled]="component.form_registration.is_processing">
            CLICK HERE TO LOGIN
          </ion-button>
        </ion-card>
      </div>

      <div id="form_registration_step_number_2" *ngIf="component.form_registration.step_number === 2">
        <ion-card>
          <ion-item lines="full">
            <ion-icon name="checkbox-outline" color="danger"></ion-icon>
            &nbsp;<ion-text color="danger"><strong>VERIFY OTP</strong></ion-text>
          </ion-item>
          <ion-card-content>
            <ion-text color="medium" style="font-size: 10px !important;">
              Please enter the OTP you received on your provided mobile number.
              <br />
              This will validate that whatever mobile number you have provided is belongs to you only.
            </ion-text>
          </ion-card-content>
          <ion-item>
            <ion-label position="stacked">Enter OTP</ion-label>
            <ion-input placeholder="Enter OTP" type="number" name="opt"
              [(ngModel)]="component.form_registration.model.otp" #otp="ngModel" clearInput>
            </ion-input>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-button type="button" expand="full" size="default" color="primary"
                [disabled]="component.form_registration.is_processing"
                (click)="component.form_registration.on_click_previous();">
                Previous</ion-button>
            </ion-col>
            <ion-col>
              <ion-button type="button" expand="full" size="default" color="danger"
                [disabled]="component.form_registration.is_processing"
                (click)="component.form_registration.on_click_next();">
                Next
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-card>

      </div>

      <div id="form_registration_step_number_3" *ngIf="component.form_registration.step_number === 3">
        <ion-card>
          <ion-item lines="full">
            <ion-icon name="person-circle-outline" color="danger"></ion-icon>
            &nbsp;<ion-text color="danger"><strong>BASIC DETAIL</strong></ion-text>
          </ion-item>
          <ion-card-content>
            <ion-text color="medium" style="font-size: 10px !important;">
              please provide some of your basic detail and set the password which is used to login in app from
              next
              time.
            </ion-text>
          </ion-card-content>
          <ion-item>
            <ion-label position="stacked">Full Name :</ion-label>
            <ion-input placeholder="Full Name" type="text" name="UserName"
              [(ngModel)]="component.form_registration.model.UserName" #UserName="ngModel" clearInput></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Password : </ion-label>
            <ion-input placeholder="Password" type="password" name="Password"
              [(ngModel)]="component.form_registration.model.Password" #Password="ngModel" clearInput></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">ReEnter Password :</ion-label>
            <ion-input placeholder="ReEnter Password" type="password" name="Password2"
              [(ngModel)]="component.form_registration.model.Password2" #Password2="ngModel" clearInput>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Birth Date :</ion-label>
            <ion-datetime
              placeholder="Birth Date"
              name="DateofBirth"
              [(ngModel)]="component.form_registration.model.DateofBirth"
              #DateofBirth="ngModel"
              pickerFormat="DD-MM-YYYY"
              displayFormat="DD-MM-YYYY"
              min="1900" max="2020">
            </ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Address :</ion-label>
            <ion-textarea placeholder="Address" name="Address" [(ngModel)]="component.form_registration.model.Address"
              #Address="ngModel" clearOnEdit="true"></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Pin code :</ion-label>
            <ion-input placeholder="Pin code" type="number" name="Pincode"
              [(ngModel)]="component.form_registration.model.Pincode" #Pincode="ngModel" clearInput></ion-input>
          </ion-item>

          <ion-row>
            <!-- <ion-col>
              <ion-button type="button" expand="full" size="default" color="primary"
                [disabled]="component.form_registration.is_processing"
                (click)="component.form_registration.on_click_previous();">
                Previous</ion-button>
            </ion-col> -->
            <ion-col>
              <ion-button type="button" expand="full" size="default" color="danger"
                [disabled]="component.form_registration.is_processing"
                (click)="component.form_registration.on_click_next();">
                Next
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>

      <div id="form_registration_step_number_4" *ngIf="component.form_registration.step_number === 4">
        <ion-card>
          <ion-item lines="full">
            <ion-icon name="train-outline" color="danger"></ion-icon>
            &nbsp;
            <ion-text color="danger"><strong>FOREIGN TRAVEL</strong></ion-text>
          </ion-item>
          <ion-card-content>
            <ion-text color="medium" style="font-size: 10px !important;">
              if you have any foreign travels history in last 30 days then please provide detail below.
            </ion-text>
          </ion-card-content>
          <ion-item>
            <ion-label position="stacked">Country Name :</ion-label>
            <ion-input type="text" placeholder="Country Name" name="foreignVisit"
              [(ngModel)]="component.form_registration.model.foreignVisit" #foreignVisit="ngModel" clearInput>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Return Days :</ion-label>
            <ion-input type="number" placeholder="Return Days" name="returnDays"
              [(ngModel)]="component.form_registration.model.returnDays" #returnDays="ngModel" clearInput>
            </ion-input>
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item lines="full">
            <ion-icon name="medical-outline" color="danger"></ion-icon>
            &nbsp;
            <ion-text color="danger"><strong>COVID19 SYMPTOMS</strong></ion-text>
          </ion-item>
          <ion-card-content>

            <ion-text color="medium" style="font-size: 10px !important;">
              if you are facing any of COVID19 symptoms from below then please check it.
            </ion-text>
          </ion-card-content>
          <ion-item lines="full">
            <ion-label>Cold/Cough</ion-label>
            <ion-checkbox name="haveCough" [(ngModel)]="component.form_registration.model.haveCough"
              #haveCough="ngModel" color="primary" slot="end"></ion-checkbox>
          </ion-item>

          <ion-item lines="full">
            <ion-label>Fever</ion-label>
            <ion-checkbox name="haveFeaver" [(ngModel)]="component.form_registration.model.haveFeaver"
              #haveFeaver="ngModel" color="primary" slot="end"></ion-checkbox>
          </ion-item>
          <ion-item lines="full">
            <ion-label>Shortness of Breath</ion-label>
            <ion-checkbox name="haveBreathingProblem"
              [(ngModel)]="component.form_registration.model.haveBreathingProblem" #haveBreathingProblem="ngModel"
              color="primary" slot="end"></ion-checkbox>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-button type="button" expand="full" size="default" color="primary"
                [disabled]="component.form_registration.is_processing"
                (click)="component.form_registration.on_click_previous();">
                Previous</ion-button>
            </ion-col>
            <ion-col>
              <ion-button type="submit" expand="full" size="default" color="danger"
                [disabled]="component.form_registration.is_processing">
                Register
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </form>
  </ion-grid>
  <!-- </div> -->
</ion-content>
